{% extends 'base.html' %}
{% block title %}
Sign Up Form
{% endblock title%}

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>

<body> -->
{% block content %}
<main>
    <div>
        <h1>Signup</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button>Signup</button>
        </form>
    </div>
</main>
{% endblock content %}
<!-- </body>

</html> -->
