{% extends 'base.html' %}
{% block title %}
Create Task
{% endblock title%}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
</head> -->

<!-- <body> -->
{% block content %}
<main>
    <div>
        <h1>Create a new task</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
<!-- </body>

</html> -->
