{% extends 'base.html' %}
{% block title %}
My Tasks
{% endblock title%}
<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
</head>

<body> -->
{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if tasks %}
        <table>
            <thead>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </thead>
            {% for task in tasks.all %}
            <td>{{task.name}}</td>
            <td>{{task.start_date}}</td>
            <td>{{task.due_date}}</td>
            <td>{{task.is_completed|yesno}}</td>
            {% endfor %}
        </table>
        {% else %}
        <p>"You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
<!-- </body>

</html> -->
