{% extends 'base.html' %}
{% block title %}
List of Projects
{% endblock title%}
<!-- <!DOCTYPE html>
<html lang="en"> -->

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Projects</title>
</head>

<body> -->
{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if projects %}
        <table>
            <thead>
                <th>Name</th>
                <th>Number of tasks</th>
            </thead>
            {% for project in projects %}
            <tr>
                <td><a href="{% url 'show_project' project.id %}">{{project.name}}</a></td>
                <td>{{project.tasks.all|length}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
<!-- </body>

</html> -->
